@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 840px) {
    body {
        max-width: 840px;
        margin: 0 auto;
    }
}

:root {
    font-family: 'Liberation Serif', serif;
}